:root {
    --cor-fonte-principal: #FFFFFF;
    --cor-fundo: #181921;
}

* {
    font-family: 'Figtree', sans-serif;
    color: var(--cor-fonte-principal);
}
.container__calculadora {
    display: inline-block;
    background-color: var(--cor-fundo);
}

.tela__calculadora {
    text-align: right;
    font-size: 20px;
    background-color: var(--cor-fundo);
}

.container__botao {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.botao__calculadora {
    padding: 10px 10px 10px 10px;
    border: 2px solid red;
}
