:root {
    --cor-fonte-principal: #FFFFFF;
    --cor-fundo-calculadora: #181921;
    --cor-fundo-botao: #242427;
    --cor-botao-ativado: #3B3B3B;
    --vor-botao--azul:#41ADD8;
    --vor-botao--azul-ativado:#41ADD8C4;
    --var-cor-cabecalho: #15191C;
    --var-cor-fundo:  #1D232A;
    --fonte-calculadora: 'Figtree', sans-serif;
    --fonte-padrao: 'Open Sans', sans-serif;
}

body {
    font-family: var(--fonte-padrao);
}

.cabecalho__principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em 1.5em;
    background-color: var(--var-cor-cabecalho);
    color: var(--cor-fonte-principal);
}

main, footer {
    background-color: var(--var-cor-fundo);
    color: var(--cor-fonte-principal);
}

.titulo__projeto {
    text-align: center;
    font-size: 2em;
    flex: 2;
}

.imagem__cabecalho--principal {
    width: 6vw;
}

.perfil {
    border-radius: 50%;
}

.titulo__apresentacao {
    font-size: 2.0em;
    font-weight: 600;
    text-align: left;
    padding: 1em;
}

.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.texto__apresentacao {
    font-size: 1em;
    font-weight: 300;
    width: 40%;
}

.imagem__linguagem {
    width: 20%;
    padding: 1em 2em;
}

.apresentacao__calculadora {
    display: block;
    text-align: center;
    margin: 10em 0;

}

.indicacao {
    padding-top: 3em;
    width: 100%;
    text-align: center;
}

.container__calculadora {
    display: inline-block;
    background-color: var(--cor-fundo-calculadora);
    border-radius: 10px;
    padding: 1px 1px;
    font-family: var(--fonte-calculadora);
}

.tela__botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.barra__superior--calculadora {
    align-self: flex-start;
    padding-top: 8px;
    padding-left: 20px;    
}

/* .logo__calculadora {
    width: 20px;
} */

.titulo__calculadora::before {
    content: url(../img/Windows_Calculator_icon2.png);
    margin-right: 20px;
}

.lista__de__comandos {
    display: flex;
    list-style-type: none;
    color: var(--cor-fundo-calculadora);
}

.comandos__barra--superior {
    padding-right: 15px;
    font-size: 20px;
    background-color: white;
    margin: 0 0 0 0;
}

.titulo__calculadora {
    color: var(--cor-fonte-principal);
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
}

.tela__calculadora {
    text-align: right;
    font-size: 35px;
    background-color: var(--cor-fundo-calculadora);
    color: var(--cor-fonte-principal);
    font-weight: 600;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 0 none;
    margin: 10px 0px 10px 0;
    padding: 10px 15px 10px 0px;
}

.container__botao {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.botao__calculadora {
    padding: 20px 30px 20px 30px;
    background-color: var(--cor-fundo-botao);
    border: 2px solid var(--cor-fundo-calculadora);
    color: var(--cor-fonte-principal);
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    width: 35px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao__reset {
    width: 135px;
}

.botao__calculadora:hover {
    background-color: var(--cor-botao-ativado);
    cursor: pointer;
    text-align: center;
}

.botao__igual {
    background-color: var(--vor-botao--azul);
    color: var(--cor-fundo-calculadora);
}

.botao__igual:hover {
    background-color: var(--vor-botao--azul-ativado);
}

.rodape {
    text-align: center;
}